*
  box-sizing border-box

.container
  margin-top 12px
  margin-bottom 12px

textarea
  min-height 40vh !important
  margin 10px
  font-family monospace
  font-size 1.1em

@media print
  #input, .navbar, .footer
    display none

  #output
    position absolute
    width 100%
    top 0
    left 0
    right 0
    z-index 23

.unit
  page-break-inside avoid
